/* Global classes */

:root {
    --yellow: hsl(47, 88%, 63%);

    --white: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);

    --ff-primary: 'Figtree', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    font-size: 1rem;
}